<h3>Legend:</h3>
<div class="legend-container">

<div class="left-container">
  <div class="legend-item-container"><span class="legend-label-color yellow"></span><span class="legend-label-text">Unit Testing</span>
  </div>
  <div class="legend-item-container"><span class="legend-label-color orange"></span><span class="legend-label-text">Component Testing</span>
  </div>
  <div class="legend-item-container"><span class="legend-label-color red"></span><span class="legend-label-text">E2E Testing</span>
  </div>
</div>
<div class="right-container">
  <div class="legend-item-container"><span class="legend-label-color pink"></span><span class="legend-label-text">Mutation Testing</span>
  </div>
  <div class="legend-item-container"><span class="legend-label-color green"></span><span class="legend-label-text">Accessibility Testing</span>
  </div>
  <div class="legend-item-container"><span class="legend-label-color blue"></span><span class="legend-label-text">Visual Regression Testing</span>
  </div>
  <div class="legend-item-container"><span class="legend-label-color purple"></span><span class="legend-label-text">Libraries</span>
  </div>
</div>
</div>
