:host {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(10, 100px);
  grid-template-rows: repeat(6, 100px);
  column-gap: 5px;
  row-gap: 5px;
  grid-template-areas:
    "unit_test11 unit_test12 legend legend legend legend legend legend libs11 libs12"
    "unit_test9 unit_test10 legend legend legend legend legend legend libs9 libs10"
    "unit_test7 unit_test8 legend legend legend legend legend legend libs7 libs8"
    "unit_test5 unit_test6 component_test3 vis_reg1 vis_reg2 . x x libs5 libs6"
    "unit_test3 unit_test4 component_test2 e2e3 e2e4 accessibility x x libs3 libs4"
    "unit_test1 unit_test2 component_test1 e2e1 e2e2 accessibility x x libs1 libs2";
}

//legend
.legend {
  grid-area: legend;
}


//unit_test
.unit_test1 {
  grid-area: unit_test1;
  background-color: yellow;
}

.unit_test2 {
  grid-area: unit_test2;
  background-color: yellow;
}

.unit_test3 {
  grid-area: unit_test3;
  background-color: yellow;
}

.unit_test4 {
  grid-area: unit_test4;
  background-color: yellow;
}

.unit_test5 {
  grid-area: unit_test5;
  background-color: yellow;
}

.unit_test6 {
  grid-area: unit_test6;
  background-color: yellow;
}

.unit_test7 {
  grid-area: unit_test7;
  background-color: yellow;
}

.unit_test8 {
  grid-area: unit_test8;
  background-color: yellow;
}

.unit_test9 {
  grid-area: unit_test9;
  background-color: yellow;
}

.unit_test10 {
  grid-area: unit_test10;
  background-color: yellow;
}

.unit_test11 {
  grid-area: unit_test11;
  background-color: yellow;
}

.unit_test12 {
  grid-area: unit_test12;
  background-color: yellow;
}

//libs
.libs1 {
  grid-area: libs1;
  background-color: green;
}

.libs2 {
  grid-area: libs2;
  background-color: green;
}

.libs3 {
  grid-area: libs3;
  background-color: green;
}

.libs4 {
  grid-area: libs4;
  background-color: green;
}

.libs5 {
  grid-area: libs5;
  background-color: green;
}

.libs6 {
  grid-area: libs6;
  background-color: green;
}

.libs7 {
  grid-area: libs7;
  background-color: green;
}

.libs8 {
  grid-area: libs8;
  background-color: green;
}

.libs9 {
  grid-area: libs9;
  background-color: green;
}

.libs10 {
  grid-area: libs10;
  background-color: green;
}

.libs11 {
  grid-area: libs11;
  background-color: green;
}

.libs12 {
  grid-area: libs12;
  background-color: green;
}

//component_test
.component_test1 {
  grid-area: component_test1;
  background-color: orange;
}

.component_test2 {
  grid-area: component_test2;
  background-color: orange;
}

.component_test3 {
  grid-area: component_test3;
  background-color: orange;
}

//e2e
.e2e1 {
  grid-area: e2e1;
  background-color: red;
}

.e2e2 {
  grid-area: e2e2;
  background-color: red;
}

.e2e3 {
  grid-area: e2e3;
  background-color: red;
}

.e2e4 {
  grid-area: e2e4;
  background-color: red;
}

//vis_reg
.vis_reg1 {
  grid-area: vis_reg1;
  background-color: aqua;
}

.vis_reg2 {
  grid-area: vis_reg2;
  background-color: aqua;
}

//accessibility
.accessibility1 {
  grid-area: accessibility1;
  background-color: cadetblue;
}

.accessibility2 {
  grid-area: accessibility2;
  background-color: cadetblue;
}
