@use "src/variables" as *;

$_unit-test-amount: 12;
$_library-amount: 12;
$_component-amount: 3;
$_e2e-amount: 4;
$_vis-reg-amount: 2;
$_accessibility-amount: 2;
$_mutation-amount: 1;

:host {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(10, 100px);
  grid-template-rows: repeat(6, 100px);
  column-gap: 5px;
  row-gap: 5px;
  grid-template-areas:
    "unit_test11 unit_test12 legend legend legend legend legend . . library13"
    "unit_test9 unit_test10 legend legend legend legend legend . . library12"
    "unit_test7 unit_test8 legend legend legend legend legend . library10 library11"
    "unit_test5 unit_test6 component_test3 e2e_test4 mutation_test2 accessibility_test3 visual_regression_test3 library7 library8 library9"
    "unit_test3 unit_test4 component_test2 e2e_test3 mutation_test1 accessibility_test2 visual_regression_test2 library4 library5 library6"
    "unit_test1 unit_test2 component_test1 e2e_test1 e2e_test2 accessibility_test1 visual_regression_test1 library1 library2 library3";
}

//legend
.legend {
  grid-area: legend;
}

//styling for specific grid areas
.unit_test{
  background-color: $yellow;
}
.library{
  background-color: $purple;
}
.component_test{
  background-color: $orange;
}
.e2e_test{
  background-color: $red;
}
.visual_regression_test{
  background-color: $blue;
}
.accessibility_test{
  background-color: $green;
}
.mutation_test{
  background-color: $pink;
}


@mixin generate-grid-area-class-for($amount, $class-name) {
  @for $i from 1 through $amount {
    .#{$class-name}#{$i} { @extend .#{$class-name}; grid-area: #{$class-name}#{$i} }
  }
}

@include generate-grid-area-class-for($_unit-test-amount, unit_test);
@include generate-grid-area-class-for($_library-amount, library);
@include generate-grid-area-class-for($_component-amount, component_test);
@include generate-grid-area-class-for($_e2e-amount, e2e_test);
@include generate-grid-area-class-for($_vis-reg-amount, visual_regression_test);
@include generate-grid-area-class-for($_accessibility-amount, accessibility_test);
@include generate-grid-area-class-for($_mutation-amount, mutation_test);

