$unit-test-amount: 12;
$library-amount: 12;
$component-amount: 3;
$e2e-amount: 4;
$vis-reg-amount: 2;
$accessibility-amount: 2;

:host {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(10, 100px);
  grid-template-rows: repeat(6, 100px);
  column-gap: 5px;
  row-gap: 5px;
  grid-template-areas:
    "unit_test11 unit_test12 legend legend legend legend legend legend library11 library12"
    "unit_test9 unit_test10 legend legend legend legend legend legend library9 library10"
    "unit_test7 unit_test8 legend legend legend legend legend legend library7 library8"
    "unit_test5 unit_test6 component_test3 visual_regression_test1 visual_regression_test2 . x x library5 library6"
    "unit_test3 unit_test4 component_test2 e2e_test3 e2e_test4 accessibility_test2 x x library3 library4"
    "unit_test1 unit_test2 component_test1 e2e_test1 e2e_test2 accessibility_test1 x x library1 library2";
}

//legend
.legend {
  grid-area: legend;
}

//styling for specific grid areas
.unit_test{
  background-color: yellow;
}
.library{
  background-color: green;
}
.component_test{
  background-color: orange;
}
.e2e_test{
  background-color: red;
}
.visual_regression_test{
  background-color: aqua;
}
.accessibility_test{
  background-color: cadetblue;
}


@mixin generate-grid-area-class-for($amount, $class-name) {
  @for $i from 1 through $amount {
    .#{$class-name}#{$i} { @extend .#{$class-name}; grid-area: #{$class-name}#{$i} }
  }
}

@include generate-grid-area-class-for($unit-test-amount, unit_test);
@include generate-grid-area-class-for($library-amount, library);
@include generate-grid-area-class-for($component-amount, component_test);
@include generate-grid-area-class-for($e2e-amount, e2e_test);
@include generate-grid-area-class-for($vis-reg-amount, visual_regression_test);
@include generate-grid-area-class-for($accessibility-amount, accessibility_test);

